.cardInformation{
    color:black;
    margin-left: 50px;
    animation-delay: 3s;
    display: flex;
    flex-flow: column;
    justify-content: center;
}
.artist{
    font-size: 15px;
}
.artistName{
    font-size: 22px;
}