.resultslist{
    overflow-y: scroll;
    max-height: 400px;
    width: 30%;
    background-color: white;
    border-bottom-left-radius: 3px;
    font-size: 1.10rem;
    position: absolute;
    z-index: 1;
    margin-top: 40px;
    background-color: rgb(220, 220, 220, 0.8);
}
.suggestion:hover{
    background-color: gray;
}
